.pokedex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
  }
  
  .pokedex__title {
    align-self: flex-start;
    font-size: 18px;
    font-weight: 300;
  }
  
  .pokedex__span {
    color: #fe1936;
  }
  
  .pokedex__options {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
  }
  
  .pokedex__input {
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.18);
    height: 40px;
    width: 180px;
    font-size: 14px;
    font-weight: 500px;
    border: none;
  }
  
  .pokedex__btn {
    background-color: #d93f3f;
    color: white;
    height: 39px;
    width: 50px;
    border: none;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.18);
    cursor: pointer;
    transition: transform 200ms ease;
    font-size: 12px;
  }
  
  .pokedex__btn:hover {
    transform: scale(1.05);
  }
  
  .pokedex__select {
    border: none;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.18);
    height: 40px;
    width: 120px;
    font-family: "Roboto", sans-serif;
    outline: none;
  }
  
  @media (min-width: 800px) {
    .pokedex {
      width: 1080px;
    }
  
    .pokedex__title {
      font-size: 28px;
      font-weight: 300;
    }
  
    .pokedex__input {
      height: 50px;
      width: 500px;
      font-size: 22px;
      font-weight: 500px;
      border: none;
      padding: 1rem;
    }
  
    .pokedex__btn {
      background-color: #d93f3f;
      color: white;
      height: 49px;
      width: 160px;
      border: none;
      box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.18);
      cursor: pointer;
      transition: transform 200ms ease;
      font-size: 18px;
    }
  
    .pokedex__btn:hover {
      transform: scale(1.05);
    }
  
    .pokedex__select {
      border: none;
      box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.18);
      height: 50px;
      width: 350px;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
    }
  }
  